<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>

  <link rel="stylesheet" href="../static/styles/overviewStyles.css">

</head>

<body>
  <header>
  </header>
  <form method="POST">
  <p>Expense Name:</p>
  <input name="expName"><br><br>
  <p>Expense Amount:</p>
  <input name="expAmt"><br><br>
  <p>Expense Category:</p>
  <input name="expCat"><br><br>
  <input type="submit">
</form>
  <script src="js/scripts.js"></script>
</body>

</html>
