<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>

  <link rel="stylesheet" href="../static/css/overviewStyles.css">

</head>

<body>
  <header>
    <p><a href={{url_for('homePage')}}>SpendFriends</a></p>
    <p><a href={{url_for('friendsPage')}}>Friends</a></p>
    <p><a href={{url_for('listsPage')}}>Lists</a></p>
    <p><a href={{url_for('settingsPage')}}>Settings</a></p>
  </header>
  <p>Friends List:</p>
  {% for i in friendsInfo %}
  <p>{{ i.get('username') }}</p>
  {% endfor %}
  <form method="POST">
    <p>Add Friends!</p>
    <p>Friend's Username:</p>
    <input name="friendUserName"><br><br>
    <input type="submit">
  </form>
  <script src="js/scripts.js"></script>
</body>

</html>
