<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>
  <link rel="stylesheet" href="../static/css/listsStyles.css">
</head>

<body>
  <header>
    <p><a href={{url_for('homePage')}}>SpendFriends</a></p>
    <p><a href={{url_for('friendsPage')}}>Friends</a></p>
    <p><a href={{url_for('listsPage')}}>Lists</a></p>
    <p><a href={{url_for('settingsPage')}}>Settings</a></p>
  </header>

  <div class="middleColumnContainer">
    <div class="menuBar">Lists</div>
    <div class="listsContainer"></div>
    <form method="POST">
      <h2 class="addList">Add List</h2>
      <div class="newListInput">
        <p>List Name:</p>
        <input name="listName"><br><br>
        <input type="submit">
      </div>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../static/scripts/lists.js"></script>
</body>

</html>
