<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>

  <link rel="stylesheet" href="../static/css/loginPageStyles.css">

</head>

<body>
  <form method="POST">
  <div class="centerBox">
    <h1>SpendFriends</h1>
    <div class="loginBox">
      <p>Username:</p>
      <input name="username"><br><br>
      <p>Password:</p>
      <input name="password" type="password"><br><br>
      <input type="submit" value="log in">
    </div>
  </div>
</form>
  <script src="js/scripts.js"></script>
</body>

</html>
