<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>

  <link rel="stylesheet" href="../static/css/overviewStyles.css">

</head>

<body>
  <header>
    <p><a href={{url_for('homePage')}}>SpendFriends</a></p>
    <a href={{url_for('friendsPage')}} class="friends"><img src="../static/images/FriendsLogo.png" alt="Friends" style="width:40px;height:40px;"></a>
    <a href={{url_for('listsPage')}}><img src="../static/images/Lists.png" alt="Lists" style="width:40px;height:40px;"></a>
    <a href={{url_for('settingsPage')}} class="profile"><img src="../static/images/Settings.png" alt="Settings" style="width:40px;height:40px;"></a>
  </header>
  <div class="addExpensePopUp">
    <form class="form-horizontal" method="POST">
      <div class="x">x</div>
      <p>Expense Name:</p>
      <input name="expName"><br><br>
      <p>Expense Amount:</p>
      <label class="control-label" for="expAmt">$</label>
      <input name="expAmt"><br><br>
      <p>Expense Category:</p>
      <input name="expCat"><br><br>
      <input type="submit">
    </form>
  </div>
  <div class="addIncomePopUp">
    <form class="form-horizontal" method="POST">
      <div class="x">x</div>
      <p>Income Name:</p>
      <input name="incName"><br><br>
      <p>Income Amount:</p>
      <label class="control-label" for="incAmt">$</label>
      <input name="incAmt"><br><br>
      <p>Income Category:</p>
      <input name="incCat"><br><br>
      <input type="submit">
    </form>
  </div>
  <div class="middleColumnContainer">
    <div class="menuBar">
      <div class="addExpense">(Add Expense+)</div> <div class="addIncome">(Add Income+)</div> <div>(Categories)</div> <div>(Filter)</div> <div>(Edit)</div>
    </div>
    <div class="transactionData">
      <div class="filterName"><p>Month</p></div>
      <div class="transactionHeader">
        <div class="incomeButton"><p>Income</p></div>
        <div class="expenseButton"><p>Expenses</p></div>
        <div class="allButton"><p>All</p></div>
      </div>
      <div class="transactions">
        <div><p>transaction1</p></div>
        <div><p>transaction2</p></div>
        <div><p>transaction3</p></div>
      </div>
        <div class="total"><p>total: </p></div>
    </div>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../static/scripts/listPage.js"></script>
  <script type="module" src="/path/to/js.cookie.mjs"></script>
</body>

</html>
