<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SpendFriends</title>

  <link rel="stylesheet" href="../static/styles/overviewStyles.css">

</head>

<body>
  <header>
    <p><a href={{url_for('homePage', username=username)}}>SpendFriends</a></p>
    <p><a href={{url_for('friendsPage')}}>Friends</a></p>
    <p><a href={{url_for('listsPage')}}>Lists</a></p>
    <p><a href={{url_for('settingsPage')}}>Settings</a></p>
  </header>
    <h1>SETTINGS!</h1>
  <script src="js/scripts.js"></script>
</body>

</html>
